/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/scss/bootstrap';
// html, body { height: 100%; }
body { width: 100%;
  padding: 5%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  margin-bottom: 1.34375em !important;
}
